@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.callout-container {
    height: 100vh;
    background: url(../images/bg2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.standout {
    z-index: 1;
}

.jumbotron-header {
    color: whitesmoke;
    font-weight: bold;
    margin-bottom: 30px; 
}

.spacer {
    width: 150px;
    border-top: 3px solid orangered;
    margin: 0 auto;
}

.callout .lead {
    color: whitesmoke;
}

.call-to-action {
    font-weight: bold;
    border-radius: 20px;
    width: 160px;
}

.button-red {
    color: azure;
    background-color: orangered;
    border-color: orangered;
}

.button-red:hover, 
.button-red:active,
.button-red:focus,
.button-red:active:focus {
    color: white;
    background-color: rgb(165, 44, 0);
    border-color: rgb(165, 44, 0);
}

.text-muted small {
    font-size: 60%;
    font-style: italic;
    color: lightgrey;
}

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-nav a {
    font-weight: bold;
}

.navbar-toggler {
    border: 0;
}
.navbar-brand {
    font-weight: bold;
}

.alert-container .col-12 {
    padding-left: 0;
    padding-right: 0;
}

.site-wide-alert {
    border-radius: 0;
    margin-bottom: 0;
    padding: 5px 15px;
    background-color: #ffc200;
    border-color: #ffc200;
}

.site-wide-alert p {
    margin-bottom: 0;
}

.site-wide-alert small {
    font-size: xx-small;
}

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.quotes .page-header {
    margin-bottom: 25px;
}

.page-header h2 {
    margin-top: 0;
}

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

.container-wrapper-red {
    background-color: orangered;
    color: white;
}

.feature {
    text-align: center;
    margin-bottom: 40px;
}

.feature i {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
}

.feature .btn {
    font-weight: bold;
    min-width: 100px;
    margin-top: 10px;
    color: orangered;
    border-radius: 15px;
}



.box-blue {
    background-color: blue;
}

.box-red {
    background-color: red;
}